In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from ipywidgets import interact
import sklearn as sk

In [2]:
## Reading csv file Using pandas library
data = pd.read_csv("data.csv")
data.head(2)

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice

In [3]:
data.isnull()

          N      P      K  temperature  humidity     ph  rainfall  label
0     False  False  False        False     False  False     False  False
1     False  False  False        False     False  False     False  False
2     False  False  False        False     False  False     False  False
3     False  False  False        False     False  False     False  False
4     False  False  False        False     False  False     False  False
...     ...    ...    ...          ...       ...    ...       ...    ...
2195  False  False  False        False     False  False     False  False
2196  False  False  False        False     False  False     False  False
2197  False  False  False        False     False  False     False  False
2198  False  False  False        False     False  False     False  False
2199  False  False  False        False     False  False     False  False

[2200 rows x 8 columns]

In [4]:
data.columns

Index(['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall', 'label'], dtype='object')

In [5]:
data.isnull().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

In [5]:
## Checking the crops present in the dataset
data["label"]

0         rice
1         rice
2         rice
3         rice
4         rice
         ...
2195    coffee
2196    coffee
2197    coffee
2198    coffee
2199    coffee
Name: label, Length: 2200, dtype: object

In [6]:
## Check the summary for all the crops
print("Aveerage Ratio of Nitrogen in the soli:{0:.2f}".format(data["N"].mean()))
print("Average Ratio of Phosphrous in the soil:{0:.2f}".format(data["P"].mean()))
print("Average Ratio of Potassium in the soil:{0:.2f}".format(data["K"].mean()))
print("Average Temperature in Celsius:{0:.2f}".format(data["temperature"].mean()))
print("Average Relative Humidity in %:{0:.2f}".format(data["humidity"].mean()))
print("Average PH value of the soil:{0:.2f}".format(data["ph"].mean()))
print("Average Rainfall in mm:{0:.2f}".format(data["rainfall"].mean()))
print("Average Rainfall in mm:{0:.2f}".format(data["rainfall"].mean()))

Aveerage Ratio of Nitrogen in the soli:50.55
Average Ratio of Phosphrous in the soil:53.36
Average Ratio of Potassium in the soil:48.15
Average Temperature in Celsius:25.62
Average Relative Humidity in %:71.48
Average PH value of the soil:6.47
Average Rainfall in mm:103.46
Average Rainfall in mm:103.46

In [12]:
## Checks the summary statistics for each oof the crops
@interact
def summary(crops=list(data["label"].value_counts().index)):
    x=data[data["label"]==crops]
    print("----------------------------------")
    print("Statistics for Nitrogen")
    print("Minimum Nitrogen required:",x["N"].min())
    print("Average Nitrogen required:",x["N"].mean())
    print("Maximum Nitrogen required:",x["N"].max())
    print("----------------------------------")
    
    print("Statistics for Phosporous")
    print("Minimum Phosporous required:",x["P"].min())
    print("Average Phosporous required:",x["P"].mean())
    print("Maximum Phosporous required:",x["P"].max())
    print("-----------------------------------")
    
    print("Statistics for Potassium")
    print("Minimum potassium required:",x["K"].min())
    print("Average potassium required:",x["K"].mean())
    print("Maximum potassium required:",x["K"].max())
    
    print("------------------------------------")
    
    print("Statistics for Temperature")
    print("Minumum Temperature required:{0:.2f}".format(x["temperature"].min()))
    print("Average Temperature required:{0:.2f}".format(x["temperature"].mean()))
    print("Maximum Temperature required:{0:.2f}".format(x["temperature"].max()))
    print("-------------------------------------")
    
    print("Statistics for Humidity")
    print("Minumum humidity required:{0:.2f}".format(x["humidity"].min()))
    print("Average humidity required:{0:.2f}".format(x["humidity"].mean()))
    print("Maximum humidity required:{0:.2f}".format(x["humidity"].max()))
    print("-------------------------------------")
    print("Statistics for PH")
    print("Minumum PH required:{0:.2f}".format(x["ph"].min()))
    print("Average PH required:{0:.2f}".format(x["ph"].mean()))
    print("Maximum PH required:{0:.2f}".format(x["ph"].max()))
    print("-------------------------------------")
    print("Statistics for Rainfall")
    print("Minumum Rainfall required:{0:.2f}".format(x["rainfall"].min()))
    print("Average Rainfall required:{0:.2f}".format(x["rainfall"].mean()))
    print("Maximum Rainfall required:{0:.2f}".format(x["rainfall"].max()))

interactive(children=(Dropdown(description='crops', options=('maize', 'rice', 'banana', 'papaya', 'jute', 'cot…

In [13]:
## compare the Average requirement for each crops with average conditions
@interact
def compare(conditions=["N","P","K","temperature","ph","humidity","rainfall"]):
    print("Average value for",conditions,"is{0:.2f}".format(data[conditions].mean()))
    print("--------------------------------------")
    print("Rice:{0:.2f}".format(data[data["label"]=="rice"][conditions].mean()))
    print("blackgram:{0:.2f}".format(data[data["label"]=="blackgram"][conditions].mean()))
    print("apple :{0:.2f}".format(data[data["label"]=="apple"][conditions].mean()))
    print("pomegranate:{0:.2f}".format(data[data["label"]=="pomegranate"][conditions].mean()))
    print("lentil:{0:.2f}".format(data[data["label"]=="lentil"][conditions].mean()))
    print("coconut :{0:.2f}".format(data[data["label"]=="coconut"][conditions].mean()))
    print("pigeonpeas:{0:.2f}".format(data[data["label"]=="pigeonpeas"][conditions].mean()))
    print("muskmelon:{0:.2f}".format(data[data["label"]=="muskmelon"][conditions].mean()))
    print("orange:{0:.2f}".format(data[data["label"]=="orange"][conditions].mean()))
    print("coffee:{0:.2f}".format(data[data["label"]=="coffee"][conditions].mean()))
    print("grapes:{0:.2f}".format(data[data["label"]=="grapes"][conditions].mean()))
    print("watermelon:{0:.2f}".format(data[data["label"]=="watermelon"][conditions].mean()))
    print("kidneybeans:{0:.2f}".format(data[data["label"]=="kidneybeans"][conditions].mean()))
    print("papaya:{0:.2f}".format(data[data["label"]=="papaya"][conditions].mean()))
    print("chickpea:{0:.2f}".format(data[data["label"]=="chickpea"][conditions].mean()))
    print("cotton:{0:.2f}".format(data[data["label"]=="cotton"][conditions].mean()))
    print("mungbean:{0:.2f}".format(data[data["label"]=="mungbean"][conditions].mean()))
    print("jute:{0:.2f}".format(data[data["label"]=="jute"][conditions].mean()))
    print("mango:{0:.2f}".format(data[data["label"]=="mango"][conditions].mean()))
    print("maize:{0:.2f}".format(data[data["label"]=="maize"][conditions].mean()))
    print("mothbeans:{0:.2f}".format(data[data["label"]=="mothbeans"][conditions].mean()))

interactive(children=(Dropdown(description='conditions', options=('N', 'P', 'K', 'temperature', 'ph', 'humidit…

In [16]:
## Make this function more Interactive @interactive function is used for to intract with the data that presrnt in the file in order make our view.
##In this function we compare the Nitrogen,Pottassium,Phosphorus  ## with temperature ph-value ,Humidity followed by Rsinfall.
@interact
def compare(conditions=["N","P","K","temperature","ph","humidity","rainfall"]):
    print("Crops which require grater then average",conditions,"\n")
    print(data[data[conditions]>data[conditions].mean()]["label"].unique())
    print("-----------------------------------")
    print("Crops which required less then average",conditions,"\n")
    print(data[data[conditions]<=data[conditions].mean()]["label"].unique())

interactive(children=(Dropdown(description='conditions', options=('N', 'P', 'K', 'temperature', 'ph', 'humidit…